* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* cegah scroll ke samping */
}

body {
    background-image: url(asset/background.png);
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border-top: 2px solid #0c235e;
    border-bottom: 2px solid #0c235e;
}

.nav-menu {
    display: flex;
    gap: 35px;
    background: linear-gradient(to bottom, #0c235e, #4846cb);
    padding: 10px 40px;
    border-radius: 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.nav-menu a {
    color: rgb(230,230,230);
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    transition: 0.2s ease;
}

.nav-menu a.active {
    font-weight: 700;
    text-decoration: underline;
}

.nav-menu a:hover {
    color: white;
    transform: scale(1.05);
}


